<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações sobre seu IMC</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }
        .carousel-img {
            max-height: 400px;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Informações sobre seu IMC que é? </h1>
        <p class="lead">O Índice de Massa Corporal (IMC) é uma medida usada para avaliar se uma pessoa está em seu peso ideal. Ele é calculado dividindo o peso da pessoa (em quilogramas) pela altura ao quadrado (em metros).</p>
        <p class="lead">O IMC é classificado em diferentes faixas, cada uma indicando uma condição de peso:</p>
        <ul class="lead">
            <li>IMC abaixo de 18.5: Abaixo do peso</li>
            <li>IMC entre 18.5 e 24.9: Peso normal</li>
            <li>IMC entre 25 e 29.9: Sobrepeso</li>
            <li>IMC entre 30 e 34.9: Obesidade grau 1</li>
            <li>IMC entre 35 e 39.9: Obesidade grau 2</li>
            <li>IMC acima de 40: Obesidade grau 3 (mórbida)</li>
        </ul>
        <p class="lead">É importante ressaltar que o IMC é uma medida simples e rápida, mas não leva em consideração outros fatores importantes, como composição corporal, massa muscular, distribuição de gordura, etc. Portanto, consulte sempre um profissional de saúde para uma avaliação mais completa.</p>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
